fieldset.video.imdb
    legend IMDB

    label ID
    input#imdb-id(name="imdb-id")
    input(type="submit",value="search")
    img#spinner(src="/images/spinner.gif",style="display: none;")
    h1.title
    p.hint Search for more actions. Enter something like <em>tt1596343</em> or the full IMDB url, e. g. <em>http://www.imdb.com/title/tt1596343/</em>
