fieldset.video.move
  legend move file

  input(type="radio",name="move",value="no")
  label Leave where it is
  
  input(type="radio",name="move",value="yes",checked="checked")
  label Move to Video
